body {
  margin: 16px;
  font-family: Roboto;
}

main {
  margin-top: 64px;
  padding: 16px;
}

.demo-group, .demo-group-spaced {
  display: flex;
  align-items: center;
}

.demo-group-spaced {
  justify-content: space-around;
}

.demo-group > *, .demo-group-spaced > * {
  margin: 0 8px;
}
